<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Dillorom's Cookbook</h2>


    <div class="content">
      <% if !logged_in? %>
        <p>Welcome!</p>
        <p><a href="/recipes">All Recipes</a></p>
        <p><a href="/login">Log In</a></p>
        <p><a href="/signup">Sign Up</a></p>
      <% else %>
        <p>Welcome, <%= current_user.username %>!</p>
        <p><a href="/recipes/new">Add Recipe</a></p>
        <p><a href="/recipes">All Recipes</a></p>
        <p><a href="/users">All Users</a></p>
        <p><a href="/logout">Log Out</a></p>
      <% end %>
    </div>

    <div class="sidebar">
      <h3>Today's Recipe</h3>
      <ul>
        <li><b>Name:</b> Palov</li>
        <li><b>Cook Time:</b> 1.5 hours</li>
        <li><b>Description:</b> Lamb, rice, carrots, oil, onion</li>
      </ul>
    </div>

  </div>
</div>
