
<h1>Edit your recipe</h1>
<form action="/recipes/<%= @recipe.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <p>Name:
    <input type="text" name="recipe[name]" value="<%= @recipe.name %>">
  </p>
  <p>Cook Time:
    <input type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>">
  </p>
  <p>Description:
    <input type="text" name="recipe[description]" value="<%= @recipe.description %>">
  </p>
  <p>
    <input type="submit" name="submit" value="Edit Recipe">
  </p>
</form>

<br></br>
<p><a href="/logout">Log Out</a></p>
<p><a href="/">Home</a></p>
