<%= @user.username %>'s Recipes:
<ul>
<% @user.recipes.each do |recipe| %>
  <div>
    <li><a href="/recipes/<%= recipe.slug %>"><%= recipe.name %></a></li>
  </div>
<% end %>
</ul>
<br></br>
<p><a href="/recipes">All Recipes</a></p>
<% if !logged_in? %>
  <p><a href="/login">Log In</a></p>
<% else %>
  <p><a href="/recipes/new">Add Recipe</a></p>
  <p><a href="/logout">Log Out</a></p>
<% end %>
<p><a href="/">Home</a></p>
